h1,
h2 {
    color: white;
}

#body {
    background-color: black;
    font-family: Roboto;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

canvas {
    border: 2px solid lightgray;
    background-color: black;
}

p {
    font-size: xx-large;
}

.buttongroup {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#canvasContainer {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}